
html, body, #reactContainer, #whatupDogApp{
  height: 100%;
  overflow: hidden;
}

body{
  background-color: #EEE;
}

#whatupDogApp {
  padding-bottom: 128px;
}

#messageForm{
  position: relative;
  height: 128px;
  clear: both;
  padding-top: 2px;
}

#messagePane{
  height:100%;
  overflow-y: auto;
  overflow-x: hidden;
}

#messages{
    height:100%;
    padding-top: 76px;
    margin-bottom: 128px;
}

.dog-images{
  position: absolute;
  bottom: 0;
  width:100%;
}

#dog-left{
  height: 256px;
  left: 128px;
  float: left;
}

#dog-right{
  height: 256px;
  left: 128px;
  float: right;
}

@media(max-width:767px){
  .dog-images{
    bottom: 128px;
  }

  #dog-left{
    height: 128px;
    left: 64px;
    float: left;
  }

  #dog-right{
    height: 128px;
    left: 64px;
    float: right;
  }
}

.login-dog{
  width: 50%;
  margin-bottom: -20%;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.message-system {
  border-radius: 16px;
  background-color: #DDD;
  padding: 8px;
  margin: 4px;
}

.message-local {
  border-radius: 16px;
  background-color: #C9FCB8;
  padding: 16px;
  margin: 4px;
}

.message-remote{
  border-radius: 16px;
  background-color: #B8EBFC;
  padding: 16px;
  margin: 4px;
}

.pageHeader{
  z-index: 100;
  text-align: center;
  width: 100%;
  position: absolute;
  background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(238,238,238,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(238,238,238,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(238,238,238,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#00eeeeee',GradientType=0 ); /* IE6-9 */
}

.pageFooter{
  z-index: 100;
  background: -moz-linear-gradient(top, rgba(238,238,238,0) 0%, rgba(238,238,238,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(238,238,238,0) 0%,rgba(238,238,238,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(238,238,238,0) 0%,rgba(238,238,238,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}

.whatupTitle{
  font-family: 'Luckiest Guy', cursive;
}
